<html xmlns:wicket >
<wicket:head>

<style type ="text/css" med ia="all">
<!--
.selected {
	list-style-type: none ;
	float: left;
	width: 100px;
	border: 1px solid #ccc;
	background-color : #eee;
	padding: 2px;;
	float: left;
	width: 100px;
	border: 1px solid #ccc;
	background-color : #eee;
	padding: 2p;
	margin: 0 2px 0 0;
}

.last {
	width: 100px;
	border: 1px solid #ccc;
	background-color : #eee;
	padding: 2px;
	margin: 0 2px 0 0;
}
-->
</style>
</wicket:head>

<wicket:panel>
<span wicket:id ="label"></span>
</wicket:panel>
</html>